Source: pdk
Section: devel
Priority: optional
Maintainer: Free Ekanayaka <freee@debian.org>
Build-Depends: cdbs (>= 0.4.43), debhelper (>= 5.0.37.2), python-all-dev, python-central (>= 0.5), funnelweb, python-pycurl, python-egenix-mxtexttools, smartpm-core
Standards-Version: 3.8.0
XS-Python-Version: current
Homepage: http://trac.64studio.com/pdk

Package: pdk
Architecture: all
Depends: ${shlibs:Depends}, ${python:Depends}, git-core (>= 1.3), python-apt, python-celementtree, python-pycurl | python2.3-pycurl, smartpm-core, python-egenix-mxtexttools, genisoimage, rpm
Conflicts: picax
Replaces: picax
Provides: picax
Suggests: apache2, curl, libapache2-svn, openssl, python-librpm4.4, python-pylint, rpm-4.4, subversion, funnelweb
Description: 64 Studio GNU/Linux Platform Development Kit (PDK)
 PDK is a platform for building specialized GNU/Linux distributions. PDK
 provides developers with a set of reusable building blocks, called components,
 which can be easily assembled into a wide variety of configurations and
 customized as necessary. It combines this componentized platform with a set
 of technologies (covering installation, software management, and hardware
 detection, with more on the way) that span traditional distribution boundaries
 and transform the assembled components into a complete distribution.
 .
 This package contains the 64 Studio GNU/Linux Platform Development Kit (PDK).
 Essentially, you can think of the PDK as "version control for
 distributions"--it's intended to be a full suite of tools for building and
 maintaining a component-based distribution, from assembling a full distro from
 a set of pre-built components to managing the evolution of the distro over time
 to incorporate upstream changes to building your own custom components to
 specifying global configuration like branding to integrating distro-specific
 patches and managing the changes over time.
